.tabmenu {
	@apply flex w-[calc(100svw-62px)] overflow-x-auto flex-nowrap relative;
	@apply xs:w-full lg:w-[calc(100svw-62px)];

	& li {
		@apply relative;
	}

	& li:not(:last-child)::before {
		content: ' ';
		@apply h-[1rem] w-[1px] bg-grayed/20 absolute right-[-1px] transition-opacity;
	}

	& li:hover {
		&:not(:last-child)::before {
			content: ' ';
			@apply opacity-0;
		}
	}

	&::-webkit-scrollbar-track {
		border-radius: 10px;
		@apply bg-transparent;
	}

	&::-webkit-scrollbar {
		@apply h-1;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 1px;
		width: 1px;
		@apply bg-grayed;
	}
}
